<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/signup.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/jquery-1.12.3.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Word Master</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link href='../static/l1.css' rel='stylesheet' type='text/css'>
    <link href='../static/l2.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Word Master</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="showSignIn">Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
          <div class="container">
       
            <div >
              <h1>Bucket List App</h1>
              <form class="form-signin" action="/signIn" method="post">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                 
                <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>     
       
          </div>
        </div>



    </header>

</body>

</html>
